<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
<h1>Add Page</h1>
           <form id = "page_form" method="post" action="/rango/add_page/">
               {% csrf_token %}
               {% for hidden in form.hidden_fields %}
               {{ hidden }}
               {% endfor %}

               {%for fields in form.visible_fields %}
               {{ field.errors  }}
               {{ fields.help_text }}
               {{ field }}
               {% endfor %}
           </form>
</body>
</html>