{% extends 'rango/base.html'%}
<!--<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Rango</title>

</head>
<body>
<h1>Login to Rango</h1>
<form id="login_form" method = "post" action="/rango/login/">
  {% csrf_token %}
    Username:<input type="text" name="username" value="" size="50"/>
    <br/>
    Password : <input type="password" name="password" value="" size="50"/>
    <br/>
   <input type="submit" value="submit"/>
</form>
</body>
</html>-->
{% block body_block %}
<div class="hero-unit">
    <h1>Login to Rango</h1>

    <div class="container">
    <form class="form-signin span4" id="login_form" method="post" action="/rango/login/">
        <h2 class="form-signin-heading">Please sign in</h2>
        {% csrf_token %}

        {% if bad_details %}
        <p><strong>Your username and/or password were incorrect!</strong></p>
        {% elif disabled_account %}
        <p><strong>Your Rango account is currently disabled; we can't log you in!</strong></p>
        {% endif %}

        Username: <input type="text" class="input-block-level" placeholder="Username" name="username" value="" size="50" />
        <br />
        Password: <input type="password" class="input-block-level" placeholder="Password" name="password" value="" size="50" />
        <br />
        <button class="btn btn-primary" type="submit">Sign in</button>
    </form>

    </div>
    <!-- /container -->
</div>
{% endblock %}
